<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>404 error</h1>
    <p>there was a 404 internal server error</p>
  </body>
</html>